page-online-stores {
        .search{
            color: map-get($colors, magenta);
            background-color: map-get($colors, palepink)
        }
    
        .shop{
            z-index: 2;
            position: absolute;
            right: 5%;
            top: 10%;
            margin: auto;
        }
    
        .return{
            z-index: 2;
            position: absolute;
            right: 5%;
            bottom: 10%;
            margin: auto;
        }

        .section{
            height: 5.5em;
        }
    
        .logpurchase{
            z-index: 2;
            position: absolute;
            left: 25%;
            bottom: 3%;
            margin: auto;
        }
    
}
