page-favorites {
    .search{
        color: map-get($colors, magenta);
        background-color: map-get($colors, palepink)
    }

    .shop{
        z-index: 2;
        position: absolute;
        right: 5%;
        bottom: 10%;
        margin: auto;
    }

    .map{
        z-index: 2;
        position: absolute;
        left: 5%;
        bottom: 10%;
        margin: auto;
    }

    .section{
        height: 5.5em;
    }

}
